#languages{  
  text-align:right;
  font-size:14px;
  padding-top:10px; 
}

#navigation {
  display: block;
  float: right;
  position: relative;
  top:65px;
  z-index: 5;
}

#navigation a {
  text-decoration: none;
  color: #666;
  font-size: 16px;
  padding: 0 5px;
}
#navigation a:hover {
  color: #999;
}       

#nav{
	padding-left:20px;
	text-align:center;
}

#nav ul{   
	margin-left:auto; margin-right:auto;
} 

#nav ul li{ 
	list-style:none;
	float:left;
	height:128px;
	line-height: 188px;
	overflow: hidden;
} 

#nav ul li a {
  text-decoration: none;
  color: #666;
  font-size: 16px;
  padding: 0 5px;
}
#nav ul li a:hover {
  color: #999;
}

body {
  background: url(/images/background.jpg) repeat-x;
  font: 0.8em/1.5 "arial",sans-serif; 
  color: #303030; 
}  

#map_canvas{
	width:700px;
	height:300px;
}

#logo { 
  width:300px;
  position: relative;
  left: 10px;
  top:10px;
  z-index: 2;
}

#cover {
  position: relative;
  top: -30px;
  height: 277px;
  background: url(/images/shanghai_night.jpg) no-repeat; 
} 

#panel-right { float:right; width:230px; padding: 15px 20px 10px 10px; color:#ffffff;
	text-align:right; 
	font-family:Verdana;
	  } 

#panel-right .date{
	font-size:28px;
}                  

#panel-right .location{
	font-size:24px;
}

#footer { 
  height:122px; 
  background: url(/images/bg_footer.jpg) repeat-x;  
  text-align: center;
}  

a {color:#666;}
a:link {color:#b41818;}
a:hover {color:#b41818; text-decoration: none;}

h1, h2, h3, h4, h5, h6 {
  color: #F5000C;
}

h1 { font-size:200%; }
h2 { font-size:170%; font-weight: normal;}
h3 { font-size:105%; margin-top:10px;}
h4 { font-size:120%; }
h5 { font-size:100%; }

.speaker, .sponsor {
  border-top: 2px dotted #ddd;
  padding-top: 10px;
}
.speaker img, .sponsor img {
  width: 90px;
height:90px;
  float: left;
  margin: 0px 10px 10px 10px;
}

.speaker p, .sponsor p {
  margin-left: 120px;
}

fieldset {
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  width: 500px;         
  border: 3px solid #EFEFEF;
  background-color: #FFFFFF;
}

fieldset label {
  display:block;
  float:left;
  width: 100px;
  text-align: right;
  height: 1.3em;
  padding: 0 10px;
  color: #00AA00;
}

fieldset input {
  background-color: #DBFDFF;
  border-left: 1px solid #EFEFEF;
  height: 16px;
}

fieldset select{  
	border-left: 1px solid #EFEFEF;
  font-size:14px;
  background-color: #DBFDFF;   
  width:185px;
}

#attendee_description{
	width:320px;
	height:120px;
	background-color: #DBFDFF;
  border-left: 1px solid #EFEFEF;   
}

.reg_form{
	margin-left:110px;
}

.image-submit{
	width:113px;
	height:28px;
	border:none;
}

.sponsor_logo{
	text-align:center;
} 
.sponsor_logo img{
	margin-bottom:10px;
}

.be_sponsor{
	text-align:right;
	clear:both;
	font-size:14px;
} 

.contact p{
	padding-left:10px;
}