<div class="post clear">
  <div class="thumbnail">
    <p><%= image_tag(image_path('sample.jpg'), :width => 500) %></p>
  </div>

  <div class="entry">
    <h2><a href="/services" rel="bookmark">RubyConf China May 21</a></h2>
    Description goes here.
  </div>
</div>
