
<div class='span-13 append-1'>
  <h2>Speakers</h2>   
<% if false -%>      
  <div class="default">
    <ul>
      <li>
        <img src="/images/speakers/matz.jpg" width="170" height="170" /><br />
      </li>
      <li>
        <img src="/images/speakers/robbin.jpg" width="170" height="170" /><br />
      </li>
      <li>
        <img src="/images/speakers/matz.jpg" width="170" height="170" />
      </li>
      <li>
        <img src="/images/speakers/robbin.jpg" width="170" height="170"/>
      </li>
    </ul>
  </div>
  
  <script type="text/javascript" charset="utf-8">
    $(function() {
        $(".default").jCarouselLite({
            auto: true,
            speed: 1500
        });
    });
  </script>  
<% end -%>
	<%= render :comatose=> "#{params[:locale]}/front" %>
</div> 

<div class='span-4 last'>
   <h2><%= t('sponsor')%></h2>
<div class=' sponsor_logo'> 
	<%=link_to image_tag('sponsors/ekohe.gif'),"http://www.ekohe.com/"%>
	<%=link_to image_tag('sponsors/tg.gif'),"http://sites.google.com/site/tengusoftwaredevelopment/Home"%> 
</div>
   <%#= render :comatose=> "sponsors" %> 
</div>

