<h1><%= t('speaker')%></h1>

<div class="speaker">
  <img src="/images/speakers/matz.jpg" >
  <h4>Yukihiro Matsumoto</h4>
  <p>
    Matsumoto's real name is the kanji 松本行弘, but it is normally written in hiragana, as まつもとゆきひろ.
  </p>
  <p>
    As of 2009[update], Matsumoto is the head of the research and development department at the Network Applied Communication Laboratory, an open source systems integrator company in Shimane Prefecture. He is the fellow of Rakuten Institute of Technology, R&D organization in Rakuten Inc. He is a member of The Church of Jesus Christ of Latter-day Saints and served as a missionary for the church. Matsumoto is married and has four children.
  </p>
</div>

<%= render :comatose=> "#{params[:locale]}/speakers" %>