<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Welcome to RubyConf China 2009</title>

<link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/stylesheets/application.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/stylesheets/print.css" type="text/css" media="print">	
<!--[if IE]><link rel="stylesheet" href="/stylesheets/ie.css" type="text/css" media="screen, projection"><![endif]-->
</head>
<body>

<div class="container">
  <div id="header" class="clear span-18">
    <div id="languages">
      <a href="/">English</a> |
      <a href="＃">中文</a>
    </div>

    <div id="navigation">
      <a href="/">Home</a></li> |
      <a href="/en/program" title="works">About</a></li> |
      <a href="/en/program" title="works">Sponsors</a></li> |      
      <a href="/en/register" title="about">Speakers</a></li>
    </div>

    <div id="logo">
      <img src="/images/logo.png" alt="Ruby Conf China 2009" width="180"/>
    </div>
    <div id="cover" class="clear span-18">
      
    </div>    
  </div>


  
  <div id="content">
    <div>
      <%= flash[:notice] if flash[:notice] %>
    </div>
    <%= yield %>
  </div>

  <div id="footer">
    <hr />
    <p>
      <a href="/en/contact">Contact US</a> |
      <a href="/en/contact">Contact US</a> |
      <a href="/en/contact">Contact US</a> |
      <a href="/en/contact">Contact US</a> |
      <a href="/en/contact">Contact US</a> |
      <a href="/en/contact">Contact US</a> |
      <a href="/en/contact">Contact US</a>                              
      <br />
  	  &copy; 2009 Shanghai on Rails, JavaEye
  </div>
</div>
</body>
</html>
